html {
    background-image: url('../images/Emma\'s\ Favs-63.jpeg');
    background-size: 100%;
}

header {
    background-color: lightpink;
}

.header-title, .header-nav {
    display: inline;
    font-size: 30pt;
}

.header-nav {
    float: right;
}

.header-button{
    background-color: pink;
}

#booking-form{
    display: flex;
    justify-content: center;
    align-items: center;
}