body, html {
    height: 100%;
    margin:0;
    box-sizing: border-box; /* Apply box-sizing globally */
}

*, *::before, *::after {
    box-sizing: inherit;
}

.parallax {
    height: 100%;
    background-image: url('../images/Emma\'s\ Favs-63.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    margin: 0;
}

header {
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-title, .header-nav {
    display: inline;
    font-size: 30pt;
}

.header-nav {
    display: flex;
    gap: 10px;
}

a {
    color: black;
    text-decoration: none;
    background-color: #e4717a;
    padding: 5px 10px;
    white-space: nowrap;
}

.main-content{
    background-color: red;
    height: 1000px;
}

#booking-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-portfolio-content{
    display:flex;
    justify-content: center;
}

#portfolio-content {
    display: flex;
    flex-direction: row;
    background-color: lightpink;
    width: 60%;
}

#intro-div {
    width: 60%;
}

#portfolio-img-left {
    width: 25%;
    height: 17%;
}

#portfolio-img-right {
    width: 25%;
    height: 17%;
}