body, html {
    height: 100%;
    margin:0;
}

.parallax {
    height: 100%;
    background-image: url('../images/Emma\'s\ Favs-63.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    margin: 0;
}
header {
    background-color: lightpink;
}

.header-title, .header-nav {
    display: inline;
    font-size: 30pt;
}

.header-nav {
    float: right;
}

.header-button{
    background-color: pink;
}

.main-content{
    background-color: red;
    height: 1000px;
}

#booking-form{
    display: flex;
    justify-content: center;
    align-items: center;
}