header {
    background-color: lightpink;
}

.header-title, .header-nav {
    display: inline;
    font-size: 30pt;
}

.header-nav {
    float: right;
}

.header-button{
    padding: 2%;
}

.main-img {
    width: 100vw;
    height:80vh;
}